<H1>Домашняя работа №6</H1>

In [58]:
import numpy as np
import pandas as pd
from scipy import stats

<H4>Задача 1</H4>

Даны значения величины заработной платы заемщиков банка (salary) и значения их поведенческого кредитного скоринга (scoring):

salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]
Используя только встроенные питоновские функции и структуры данных (т.е. без библиотек numpy, pandas и др.) найдите:

ковариацию (смещённую и несмещённую) этих двух величин,
коэффициент корреляции Пирсона,
коэффициент корреляции Кендалла.
Можно затем посчитать те же значения с использованием библиотек, чтобы проверить себя

In [53]:
salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]

In [65]:
def my_cov(X, Y, ddof=0): 
    ind = range(len(X))
    MX = sum(X)/len(X)
    MY = sum(Y)/len(Y)
    Sum = sum([(X[i] - MX) * (Y[i] - MX) for i in ind])
    return Sum/(len(X)-ddof)

In [71]:
my_cov(salary, scoring, ddof=0) # biased

9157.84

In [74]:
np.cov(salary, scoring, ddof=0)

array([[ 3494.64,  9157.84],
       [ 9157.84, 30468.89]])

In [72]:
my_cov(salary, scoring, ddof=1)

10175.377777777778

In [73]:
np.cov(salary, scoring, ddof=1)

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [75]:
def my_std(X, ddof=0):
    MX = sum(X)/len(X)
    Sum = sum([(x - MX)**2 for x in X])
    return (Sum/(len(X)-ddof))**(1/2)

In [77]:
def my_corr_P(X, Y):
    return my_cov(X, Y)/(my_std(X)*my_std(Y))

In [78]:
my_corr_P(salary, scoring)

0.8874900920739162

In [79]:
df = pd.DataFrame({'salary':salary, 'scoring':scoring})
df.corr()

          salary  scoring
salary   1.00000  0.88749
scoring  0.88749  1.00000

<H4>Задача 2</H4>

Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:

131, 125, 115, 122, 131, 115, 107, 99, 125, 111
Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.99.

In [88]:
iq = [131, 125, 115, 122, 131, 115, 107, 99, 125, 111]

In [90]:
p = 0.99

In [91]:
def my_conf_int(array, p):
    n = len(array) 
    X = sum(array)/n 
    sigma = my_std(X=array, ddof=1)
    df = n-1
    alpha = 1-p
    t1 = stats.t.ppf(alpha/2, df=df)
    t2 = stats.t.ppf(1-alpha/2, df=df)
    return X + t1*(sigma/n**(1/2)), X + t2*(sigma/n**(1/2))

In [92]:
my_conf_int(iq, p)

(107.26234119629228, 128.9376588037077)

<H4>Задача 3</H4>
Выберите тему для проектной работы по курсу Теории вероятностей и математической статистики и напишите ее в комментарии к Практическому заданию.

Пока еще думаю над тем, какую тему взять